HOSTNAME=0.0.0.0
CONTACT_PORTAL_DATABASE_URL=postgres://foo@pg1:REDACTED@pg1.postgres.database.azure.com:5432/contact-portal
CONTACT_PORTAL_TWILIO_ACCOUNT_SID=AC6b5dc86ccab833ef32adc5e8ae675083
CONTACT_PORTAL_TWILIO_AUTH_TOKEN=REDACTED
CONTACT_PORTAL_TWILIO_SENDING_NUMBER=+16152651026
